
<div class="svg-container"  #svgContainer>
      <app-svg-bot  [choosenColorIndice]="avatar.body_color" [choosenItemIndice]="avatar.body" [height]="getSvgHeigth()" [offset]="getOffset()"></app-svg-bot>
    <app-svg-mouth  [choosenColorIndice]="avatar.mouth_color" [choosenItemIndice]="avatar.mouth" [height]="getSvgHeigth()" [offset]="getOffset()"></app-svg-mouth>
    <app-svg-eyes  [choosenColorIndice]="avatar.eyes_color" [choosenItemIndice]="avatar.eyes" [height]="getSvgHeigth()" [offset]="getOffset()"></app-svg-eyes>
    <app-svg-hat  [choosenColorIndice]="avatar.hat_color" [choosenItemIndice]="avatar.hat" [height]="getSvgHeigth()" [offset]="getOffset()"></app-svg-hat>
</div>

