
<app-custom-dialog [title]="'password'" [action]="'Update password'" [isInValid]="passwordForm.invalid"
  (submit)="onPasswordSubmit()" [dialogRef]="dialogRef">
  <form [formGroup]="passwordForm" >


    <app-form-field [control]="current_password_ctrl" [name]="'current-password'" [label]="'Current password'"
      errorMessage="'Can't be empty'" [type]="'password'">
    </app-form-field>


    <app-form-field [control]="new_password_ctrl" [name]="'new-password'" [label]="'New password'"
      errorMessage="'Can't be empty'" [type]="'password'">
    </app-form-field>


    <app-form-field [control]="new_password_confirmed_ctrl" [name]="'new-password_confirmed'"
      [label]="'Password confirmation'" errorMessage="'Can't be empty'" [type]="'password'">
    </app-form-field>


  </form >
</app-custom-dialog>