<app-custom-dialog [title]="'User informations'" [action]="'Update informations'" [isInValid]="profileForm.invalid"
  (submit)="onProfileSubmit()" [fullHeight]=true  [dialogRef]="dialogRef" >
  <form [formGroup]="profileForm">

    <div *ngIf="profileError" class="alert alert-danger" role="alert">
      {{ profileError }}
    </div>
    <div *ngIf="profileSuccess" class="alert alert-success" role="alert">
      Profil mis à jour avec succès !
    </div>

    <app-form-field [control]="user_name_ctrl" [name]="'user_name'" [label]="'User name'"
      errorMessage="'Can't be empty'">
    </app-form-field>

    <app-form-field [control]="email_ctrl" [name]="'email'" [label]="'User name'" errorMessage="'Can't be empty'">
    </app-form-field>

  </form>
</app-custom-dialog>


<app-custom-dialog [title]="'password'" [action]="'Update password'" [isInValid]="passwordForm.invalid"
  (submit)="onPasswordSubmit()" [fullHeight]=true [dialogRef]="dialogRef">
  <form [formGroup]="passwordForm" >


    <app-form-field [control]="current_password_ctrl" [name]="'current-password'" [label]="'Current password'"
      errorMessage="'Can't be empty'" [type]="'password'">
    </app-form-field>


    <app-form-field [control]="new_password_ctrl" [name]="'new-password'" [label]="'New password'"
      errorMessage="'Can't be empty'" [type]="'password'">
    </app-form-field>


    <app-form-field [control]="new_password_confirmed_ctrl" [name]="'new-password_confirmed'"
      [label]="'Password confirmation'" errorMessage="'Can't be empty'" [type]="'password'">
    </app-form-field>


  </form >
</app-custom-dialog>