<app-custom-dialog  [title]="'Change Password'" [action]="'Update Password'" [isInValid]="passwordForm.invalid"
  (submit)="onSubmitFromChild()"  [dialogRef]="dialogRef">

  <form [formGroup]=passwordForm>

    <app-form-field [control]="currentPasswordCtrl" [name]="'current_password'" [label]="'Current Password'"
      [type]="'password'" [errorMessage]="'Cannot be empty'"> </app-form-field>

    <app-form-field [control]="passwordCtrl" [name]="'password'" [label]="'New Password'"
      [type]="'password'" [errorMessage]="'Cannot be empty'"> </app-form-field>


    <app-form-field [control]="confirmPasswordCtrl" [name]="'confirm_password'" [label]="'Confirm Password'"
      [type]="'password'" [errorMessage]="confirmPasswordCtrl.hasError('passwordMismatch') ? 'Passwords do not match' : 'Cannot be empty'">
    </app-form-field>
  </form>

</app-custom-dialog>